language: scala
dist: xenial

env:
  global:
    - JAVA_OPTS: -Xss4m

jobs:
  include:
    - stage: test
      script:
        - ./millw runtime.compile
        - ./millw all runtime.test
    - script:
        - ./millw runtime.compile
        - ./millw examples.mdoc
    - stage: formatting
      if: type = pull_request
      script:
        - ./millw __.reformat
        - if [[ $(git diff --exit-code --name-status) ]]; then echo 'Your code is not formatted correctly, please format it, check it and push formatted code'; exit 1; fi

cache:
  directories:
    - $HOME/.coursier
    - $HOME/.mill/download

jdk:
  - openjdk8

branches:
  only:
  - master
