import swam.runtime.imports.{AsInstance, AsInterface, Imports, TCMap}
import swam.runtime.formats._
import swam.runtime.formats.DefaultFormatters._


trait GeneratedImport {
  type AsIIO[T] = AsInterface[T, IO]
  type AsIsIO[T] = AsInstance[T, IO]


    {{#imports}}
        {{#fields}}
            def {{module}}_{{name}}({{params}}): IO[{{return}}]
        {{/fields}}
    {{/imports}}


    {{#imports}}
    def imports() = {
       Imports[IO](
          TCMap[String, AsIsIO](
             "{{module}}" -> TCMap[String, AsIIO](
                {{#fields}}
                    "{{name}}" -> {{module}}_{{name}} _ {{#comma}},{{/comma}}
                {{/fields}}
                ) {{#comma}},{{/comma}}
           )
       )
    }
    {{/imports}}
}